.products {
  padding-top: 125px;
  padding-bottom: 108px;
  background-color: $products_background-color;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  @media (max-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 52px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 34px;
    padding-bottom: 0;
  }
}

.products__wrap {
  max-width: 1205px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.products__heading {
  margin-bottom: 0;
}

.products__cards-list {
  margin-top: 71px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-top: 34px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    gap: 0;
  }
}

.products__card {
  list-style: none;
  position: relative;

  a {
    text-decoration: none;
  }

  &:first-of-type {
    img {
      margin-top: -12px;
      position: relative;
      z-index: 9999;
    }

    &::before {
      content: "";
      position: absolute;
      width: 135px;
      height: 135px;
      border: 27px solid $excretion-color;
      border-radius: 50%;
      top: 140px;
      left: -59px;
    }
  }

  &:nth-of-type(2n) {
    padding-top: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      border: 8px solid $excretion-color;
      top: 0;
      left: -19px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      border: 8px solid $excretion-color;
      bottom: 53px;
      right: -23px;
    }
  }

  &:last-of-type {
    img {
      margin-top: -21px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      border: 17px solid $excretion-color;
      border-radius: 50%;
      top: -30px;
      right: -37px;
    }
  }

  p {
    margin-top: 13px;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
    text-align: center;
    color: $text-color;
  }

  @media (max-width: $tablet-width) {
    &:first-of-type {
      img {
        margin-top: 0;
      }

      &::before {
        width: 90px;
        height: 90px;
        border: 18px solid $excretion-color;
        top: 202px;
        left: -37px;
      }
    }

    &:nth-of-type(2n) {
      padding-top: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &:last-of-type {
      img {
        margin-top: 0;
      }

      &::before {
        width: 40px;
        height: 40px;
        border: 13px solid $excretion-color;
        top: -20px;
        right: -25px;
      }
    }

    img {
      width: 270px;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }

    p {
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;

    &:first-of-type::before {
      top: 202px;
      left: -25px;
    }

    &:last-of-type::before {
      top: -17px;
      right: -13px;
    }
  }
}
