.slogan {
  width: 45%;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 114px;
    padding-bottom: 79px;

    background-color: $heading-color;
    background-image: url("../img/bike_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike_img2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 100px;
    padding-bottom: 69px;
    background-image: url("../img/bike_img_mobile.png");
    background-position-y: -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike_img_mobile2x.png");
    }
  }
}

.slogan__logo {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 25px;
    left: 23px;
  }

  @media (max-width: $mobile-width) {
    left: 18px;
  }
}

.slogan__heading {
  margin-top: 22px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: $main-color;

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.slogan__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $main-color;
  opacity: 0.8;
  text-align: left;

  @media (max-width: $tablet-width) {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 95%;
  }
}
