.page {
  height: 100%;
}

.body {
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $text-color;
  overflow-x: hidden;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 326px;
  height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 2px;
  color: $text-color;
  background-color: $excretion-color;
  border: none;

  // &:hover {
  //   background-color: $hover-color;
  // }

  // @media (max-width: $tablet-width) {
  //   font-size: 10px;
  //   line-height: 12px;
  //   height: 50px;
  // }

  // @media (max-width: $mobile-width) {
  //   width: 288px;
  // }
}

// .block-heading {
//   font-family: "Montserrat", "Arial", sans-serif;
//   font-size: 55px;
//   font-weight: 600;
//   line-height: 80px;
//   letter-spacing: -1.245px;
//   text-align: left;

//   @media (max-width: $tablet-width) {
//     font-size: 30px;
//     line-height: 150%;
//     text-align: center;
//   }

//   @media (max-width: $mobile-width) {
//     font-size: 24px;
//     line-height: 36px;
//   }
// }

.container {
  max-width: 1126px;
  padding: 0 20px;
  margin: 0 auto;

  // @media (max-width: $tablet-width) {
  //   min-width: 668px;
  //   padding: 0 21px;
  //   margin: 0;
  // }

  // @media (max-width: $mobile-width) {
  //   min-width: 260px;
  //   padding: 0 16px;
  // }
}
