// Colors

$main-color: #ffffff;
$excretion-color: #0ad9c6;
$heading-color: #1f1f1f;
$text-color: #000000;
$toogle-color: rgba(20, 21, 23, 0.2);
$input-border: #c9ccd4;
$input-text: #1c1c1c;
$products_background-color: #f6f7f9;
$products-border: #c4c4c4;
$about-background: #131314;
$menu-item: #f6f6f6;
$menu-link: #48494d;


// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
