.header {
  position: absolute;
  width: 100%;
}

.header__wrap {
  max-width: 879px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: none;
    padding: 0;
  }
}
